{% extends 'web/base.html' %}
{% load static %}

{% block content %}

                <div class="tab_content">
                  <div class="tab_pane">
                    <section class="container-fluid head">
                      <div class="row">
                        <div class="col-12">
                          <div class="top container">
                            <p>Top > xxxxxxxxxxxxx</p>
                          </div>
                          <div class="brand-img text-center my-5">
                            <img src="{% static 'images/Group 4.png' %}" alt="brand">
                          </div>
                          <div class="heading container">
                            <h1>"<span class="color-size">S</span>" THE BRAND</h1>
                            <p class="text-prg">make wearable gear<br>
                              it will be essential for the all workeres<br>
                              NEVER STOP UPGRADING<br>
                              DON'T STAYOUR EVOLUATION
                            </p>
                            <div class="text-prg">
                              ウェアラブル ギアを作る<br>
                              すべての労働者にとって不可欠です<br>
                              アップグレードをやめない<br>
                              進化を止めるな
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="brands">
                      <div class="d-flex container justify-content-evenly py-4">
                        <div class="brands-name">
                          <img class="brand-img" src="{% static 'images/Group 65@2x.png' %}" alt="group">
                        </div>
                        <div class="border-right"></div>
                        <div class="brands-name">
                          <img class="brand-img" src="{% static 'images/Group 58@2x.png' %}" alt="group">
                        </div>
                        <div class="border-right"></div>
                        <div class="brands-name">
                          <img class="brand-img"src="{% static 'images/Group 61@2x.png' %}" alt="group">
                        </div>
                        <div class="border-right"></div>
                        <div class="brands-name">
                          <img class="brand-img" src="{% static 'images/Group 69@2x.png' %}" alt="group">
                        </div>
                      </div>
                    </section>
                    {% for data in brand %}
                    <section class="brand-six brands">
                      <div class="container-fluid bg-img flex-container pt-5">
                        <div class="container">
                          <div class="row px-4">
                            <img class="top-1-brand image" src="{{ data.image.url }}" alt="brand">
                            <div class="text container">
                              <h1 class="large-size">{{data.headings}}</h1>
                              <p class="font-size"> {{data.description}} </p>
                              <p class="font-size">{{data.other_description}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    {% endfor %}
                
                    <section class="container-fluid brands">
                      <div class="container">
                        <div class="border-line py-4"></div>
                        <div class="d-flex justify-content-around py-5 px-5">
                          <a class="page-link" href="#">WEB ウェブ <span class="right-arrow">></span></a>
                          <a class="page-link" href="#">より多くの製品<span class="right-arrow">></span></a>
                        </div>
                      </div>
                      

                      {% endblock content %}