{% extends 'web/base.html' %}
{% load static %}

{% block content %}

                <div class="tab_content">
                    <div id="first-tab" class="tab_pane active">
                      <section class="brands py-5" style="background-color: #000;">
                          <div class="container">
                              <div class="row">
                                  <div class="col-12">
                                    <div class="banner catalogue-banner">
                                        <img style="opacity:0.5;" class="banner-img image" src="{% static 'images/IMG_0010.png' %}" alt="img">
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </section>
                      <section class="card container-fluid">
                        {% for data in catalogue %}
                        <div class="row">
                          <div class="d-flex flex-container">
                            <div class="">
                                <h3 class="">2022</h3>
                                <h3 class="">SPRING / SUMMER</h3>
                                <img src="{{ data.image.url }}" alt="shinmen">
                            </div>
                            
                          </div>
                        </div>
                        {% endfor %}
                        
                        
                      </section>
{% endblock %}                      