{% include 'web/header.html' %}
{% load static %}


                <div class="tab_content">
                    <div id="first-tab" class="tab_pane active">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                          <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
                          </div>
                          
                          <div class="carousel-inner">
                           
                            {% for img in sliders %}
                            <div class="carousel-item active">
                              
                              <img class="carousel-img" src="{{ img.image.url }}" class="d-block w-100" alt="unsplash">
                              
                            </div>
                            {% endfor  %}
                          
                           
                         
                          
                        
                          </div>
                          
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                      </div>
                      <section class="brands container-fluid">
                        <div class="d-flex flex-container row">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="d-flex flex-column align-items-center">
                                <img src="{% static  'images/Group 4.png' %}" alt="group" class="logo-brand">
                                <h1>"S" our gear-production philosophy</h1>
                                <h4>歯.車.理</h4>
                                <h4 class="text-japanese">人気商品 ギア製作理念  人気商品 ギア製作理念 </h4>
                              </div>
                            </div>
                          </div>

                          <div class="container-fluid bg-img">
                            <div class="container">
                              {% for  brand in  brand %}
                              <div class="row px-4  parent-img">
                                <img class="top-1-brand image" src="{{brand.image.url}}" alt="brand">
                                <a class="s-air-link" href="S-air.html"><i>View more</i></a>
                              </div>
                              {% endfor %}
                            </div>
                          </div>
                          
                          
                          
                          <div class="container-fluid">
                            <div class="row">
                              <div class="d-flex align-items-center flex-column">
                                <img src="{% static  '/images/Group-5.png' %}" alt="group" class="logo-brand">
                                <h1>Tech is the source of ultimate usability</h1>
                                <h4>究極の使いやすさの源は 究極の使いやすさの源は 究極の使いやすさの源は </h4>
                                <h4 class="text-japanese">人気商品 ギア製作理念  人気商品</h4>
                              </div>
                            </div>
                          </div>
                          <section id="demos">
                            <div class="row">
                              <div class="large-12 columns">
                                <div class="owl-carousel owl-theme">
                                  <div class="item tech-item">
                                    <div class="d-flex flex-column px-4 py-5">
                                      <img src="{% static   'images/function-logo-3@2x.png' %}" alt="function">
                                      <h4>BOUNDY STRETCH</h4>
                                      <p>Lorem, ipsum dolor.</p>
                                      <p>Lorem, ipsum dolor.</p>
                                    </div>
                                  </div>
                                  <div class="item tech-item">
                                    <div class="d-flex flex-column px-4 py-5">
                                      <img src="{% static   'images/function-logo-3@2x.png' %}" alt="function">
                                      <h4>BOUNDY STRETCH</h4>
                                      <p>Lorem, ipsum dolor.</p>
                                      <p>Lorem, ipsum dolor.</p>
                                    </div>
                                  </div>
                                  <div class="item tech-item">
                                    <div class="d-flex flex-column px-4 py-5">
                                      <img src="{% static  'images/function-logo-3@2x.png' %}" alt="function">
                                      <h4>BOUNDY STRETCH</h4>
                                      <p>Lorem, ipsum dolor.</p>
                                      <p>Lorem, ipsum dolor.</p>
                                    </div>
                                  </div>
                                  <div class="item tech-item">
                                    <div class="d-flex flex-column px-4 py-5">
                                      <img src="{% static  'images/function-logo-3@2x.png' %}" alt="function">
                                      <h4>BOUNDY STRETCH</h4>
                                      <p>Lorem, ipsum dolor.</p>
                                      <p>Lorem, ipsum dolor.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                          <div class="under-line"></div>
                          <div class="view-more text-center">
                            <a href="#"><i>View more ></i></a>
                          </div>
                        </div>
                      </section>
                      <section class="card container-fluid">
                        <div class="row">
                          <div class="d-flex flex-container">
                            <div class="flex-child">
                              <img src="{% static  'images/__00_TOP-shinmen.jpg' %}" alt="shinmen">
                              <p class="sub-child">2022 SPRING / SUMMER</p>
                            </div>
                            <div class="flex-child">
                              <img src="{% static  'images/__00_TOP_shinmen_2.jpg' %}" alt="shinmen">
                              <P class="sub-child">2021-2022AUTUMN / WINTER</P>
                            </div>
                          </div>
                          <div class="border_bottom d-flex"></div>
                          <div class="page-link">
                            <a href="#">もっと製品を見る ></a>
                          </div>
                        </div>
                      </section>
                    
                        
                        
{% include 'web/home-footer.html' %}