{% extends 'dashboard/index.html' %}
{% load static %}
  <title>{% block title %} Add Corporate {% endblock title %} </title>
      {% block content %}
   
       
    <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Corporate page</h4>
                  <p class="card-description">
                   
                  </p>
                  <form class="forms-sample" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for message in messages %}
                    <b style="color:#03e9f4" >{{message}}</b>
                    {% endfor %} <br>
                    <div class="form-group">
                      <label for="exampleInputUsername1">Description:</label>
                      <input type="text" class="form-control" required id="date" name="description" placeholder="Enter Description">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1"> Heading:</label>
                      <input type="text" class="form-control" required id="heading" placeholder="Enter  Heading" name="heading">

                    </div>
                   
                    <br>      
                    <div class="row" >       
                    <button type="submit" class="btn btn-primary mr-2">Add Corporate</button>
                  </div> 
                  <a href="#">Show All Corporate Page</a>
                         
                  </div>
                  </form>
                </div>
              </div>
      {% endblock content %}